
.container-news{
    justify-content: center;
}.News{
    border :1px solid black;
    
    margin: 2rem;
    padding: 2rem;
}
.loading{
    text-align: center;
    font-size: 28px;
}
.news-paragraph{
    text-align: center;
}
.site-content-news {
    display: grid;
    grid-template-columns: 90%;
   margin-left: 4rem;
  }
  .post-content-news {
    width: 100%;
    margin: 2rem;
   
    border: 1px solid black;
  }
  .site-content-news .post-content-news > .post-image-news,
  .post-title-news {
    padding: 1rem 2rem;
    position: relative;
  }
  .site-content-news .post-content-news > .post-image-news .post-info {
    background-color:skyblue;
    
    position: relative;
    padding: 1rem;
    bottom: 0%;
    
    border-radius: 3rem;
  }
  .site-content-news .post-content-news > .post-image-news > div {
    overflow: hidden;
  }
  .site-content-news .post-content-news > .post-image-news .imgg {
    width: 100%;
  
    transition: all 1s ease;
  }
  .site-content-news .post-content-news > .post-image-news .imgg:hover {
    transform: scale(1.3);
  }
  .site-content-news .post-content-news > .post-image-news .post-info span {
    margin: 0 0.5rem;
  }
  .post-content-news .post-title-news a {
    font-family: var(--Anton);
    font-size: 1.5rem;
    text-decoration: none;
    color: black;
  }
  .post-content-news .post-title-news p {
    color: rgb(128, 118, 118);
  }
  .site-content-news .post-content-news .post-title-news .post-btn-news {
    border-radius: 0;
    padding: 0.7rem 1.5rem;
    background-color: skyblue;
  }
  
  .site-content-news .pagination-news {
    text-align: center;
    color: gray;
    margin: 4rem 0;
    
  }
  
  .site-content-news .pagination-news a {
    padding: 0.6rem 0.9rem;
    border-radius: 2rem;
    margin: 0 0.3rem;
    color: black;
  }
  
  .site-content-news .pagination-news .pages {
    background-color: black;
    color: white;
    text-decoration: none;
  }
  .pagination-News{
    justify-content: center;
    display: flex;
  }
  
 
  /* Side bar*/
  