.floodmap {
  padding-bottom: 60%;
  width: 50%;
}

@media screen and (max-width: 660px) {
    .floodmap{
        padding-bottom: 250%;
    }
}
@media screen and (max-width: 1366px) {
  .floodmap{
      padding-bottom: 140%;
  }
}
  