.Dropdown-menu {
    background:black;
    width: 180px;
    position:absolute;
    margin-left: 1rem;
    list-style: none;
    text-align:start;
    color: seagreen;
    
    
   
  }
  
  .Dropdown-menu li {
    background: #242424;
    cursor: pointer;
    color: rgb(56, 18, 196);
    
    
   
  }
  
  .Dropdown-menu li:hover {
    transition: all 0.3s ease-out;
    
    color: rgb(94, 206, 50);
    
    transition: 250ms;
  }
  
  .Dropdown-menu.clicked {
    display: none;
   
  }
  
  .Dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color:red;
    padding: 9px;
  }
  .Dropdown-link:hover{
    color: black;
    background-color: #fff;
    
    transition: all 0.3s ease-out;
    transition: 250ms;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }