.dropdown-menu {
    background:black;
    width: 166px;
    position:absolute;
    top: 80px;
    list-style: none;
    text-align:start;
    
    
   
  }
  
  .dropdown-menu li {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);;
    cursor: pointer;
    color: #fff;
    
    
   
  }
  
  .dropdown-menu li:hover {
    background:seagreen;
    color: red;
  }
  
  .dropdown-menu.clicked {
    display: none;
   
  }
  
  .dropdown-link {
    display: block;
    height: 100%;
    width: 100%;
    text-decoration: none;
    color:#fff;
    padding: 9px;
  }
  
  @media screen and (max-width: 960px) {
    .fa-caret-down {
      display: none;
    }
  }