
.Header{
    margin: 20px;
    color: red;
    font-size: 20px;
    text-align: center;
}
.Header2{
    font-size: 32px;
}
.intro{
    margin-top: 20px;
    text-align: center;
    font-family:  Tahoma, sans-serif;
    width: 33.33333333333333%;
    margin-left: 30rem;
}
.contactform-label{
    
    margin: 20px;
    font-size: 18px;
    border-bottom: 1px solid red;
}
.div-paragraph{
    margin: 10px;
    margin-left: 2rem;
}
.form-inputs1{
    margin: 20px;
   margin-left: 20px;
   display:inline-table;
   background-color: #f7f7f7;
   box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    border: #f7f7f7 2px solid;
    overflow: hidden;
    text-decoration: none;
    width: 38rem;
    
  
   
}
.divlocation{
    display:inline-table;
    
    margin: 20px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
    align-items: center;
    width: 25rem;
    height: 8rem;
}
.form-inputs2{
    margin: 20px;
    background-color: #f7f7f7;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border: #f7f7f7 2px solid;
    border-radius: 10px ;
    overflow: hidden;
    text-decoration: none;
    align-items: center;
}
.contactButton{
    cursor: pointer;
    color: white;
    background-color: black;
    color:white;
    border-radius: 1px solid black;
    transition: all 0.3s ease-out;
    padding: 8px 50px;
    font-size: 20px;
    border-radius: 5px solid black;
    margin-left: 1.2rem;
    margin-bottom: 20px;
  }
  .contactButton:hover{
    transition: all 0.3s ease-out;
    background:white;
    color: red;
    transition: 250ms;
  }
  .last{
    margin-top: 5px;
    text-align: start;
    font-family:  Tahoma, sans-serif;
    width: 33.33333333333333%;
    margin-left: 1.2rem;
}
  @media screen and (max-width: 852px)
  {
    .Header{
        margin: 20px;
        color: red;
        font-size: 20px;
        text-align: center;
    }
    .Header2{
        font-size: 32px;
    }
    .intro{
        margin-top: 20px;
        text-align: center;
        font-family:  Tahoma, sans-serif;
        width: 33.33333333333333%;
        margin-left: 15rem;
    }
    .contactform-label{
        
        margin: 20px;
        font-size: 18px;
        border-bottom: 1px solid red;
    }
    .div-paragraph{
        margin: 10px;
        margin-left: 8rem;
        
    }
    .form-inputs1{
        margin: 20px;
       margin-left: 20px;
       display:inline-table;
       box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        width: 30.4rem;
        
      
       
    }
    .divlocation{
        display:inline-table;
        
        margin: 20px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        align-items: center;
        width: 30rem;
        height: 8rem;
        margin-left: 9rem;
    }
    .form-inputs2{
        margin: 20px ;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        align-items: center;
        width: 40.4rem;
    }
    .contactButton{
        cursor: pointer;
        color: white;
        background-color: black;
        color:white;
        border-radius: 1px solid black;
        transition: all 0.3s ease-out;
        padding: 8px 50px;
        font-size: 20px;
        border-radius: 5px solid black;
        margin-left: 1.2rem;
        margin-bottom: 20px;
      }
      .contactButton:hover{
        transition: all 0.3s ease-out;
        background:white;
        color: lightgreen;
        transition: 250ms;
      }
  }
  @media screen and (max-width: 700px)
  {
   
    .intro{
        margin-top: 20px;
        text-align: center;
        font-family:  Tahoma, sans-serif;
        width: 33.33333333333333%;
        margin-left: 8.5rem;
    }
    .contactform-label{
        
        margin: 20px;
        font-size: 18px;
        border-bottom: 1px solid red;
    }
    .div-paragraph{
        margin: 10px;
        margin-left: 8rem;
        
    }
    .form-inputs1{
        margin: 20px;
       margin-left: 20px;
       display:inline-table;
       box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        width: 22.4rem;
        
      
       
    }
    .divlocation{
        display:inline-table;
        
        margin: 20px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        align-items: center;
        width: 20rem;
        height: 8rem;
        margin-left: 2.5rem;
    }
    .form-inputs2{
        margin: 20px;
        box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
        -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
        border-radius: 10px;
        overflow: hidden;
        text-decoration: none;
        align-items: center;
        width: 22.4rem;
    }
    .contactButton{
        cursor: pointer;
        color: white;
        background-color: black;
        color:white;
        border-radius: 1px solid black;
        transition: all 0.3s ease-out;
        padding: 8px 50px;
        font-size: 20px;
        border-radius: 5px solid black;
        margin-left: 1.2rem;
        margin-bottom: 20px;
      }
      .contactButton:hover{
        transition: all 0.3s ease-out;
        background:white;
        color: lightgreen;
        transition: 250ms;
      }
  }
