
.Header{
font-size: 20px;
background-color: #fff;
color: #ff4a57;
text-align: center;
margin: 20px;
}
.Header2{
    font-size: 32px bold;
    color: black;
}
.location{
    color: black;
    padding: 25px;
    font-size: 30px;
}
.locationdiv{
    width: 30px;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
}

.p{
    margin-left: 25px;
    margin-bottom: 20px;
   
}