.form-content-right {
    border-radius: 0 10px 10px 0;
    position: relative;
    background: linear-gradient(90deg, rgb(61, 86, 109) 0%, rgb(195, 218, 240) 100%);
    
  }
 
  .hello{
    margin-left: 20%;
  }
 
  .LoginButton{
    cursor: pointer;
    color: #242424;
    background-color: transparent;
    color: #fff;
    border: 1px solid var(--primary);
    transition: all 0.3s ease-out;
    padding: 8px 50px;
    font-size: 20px;
    margin-left: 9rem;
    
  }
  .LoginButton:hover{
    transition: all 0.3s ease-out;
    background: #fff;
    color: #242424;
    transition: 250ms;
    
  }
  .form-inputs {
    margin-bottom: 0.5rem;
    
    margin-left: 9rem;
    width: 50%;
    box-shadow: 0 6px 20px rgba(56, 125, 255, 0.17);
    -webkit-filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    filter: drop-shadow(0 6px 20px rgba(56, 125, 255, 0.017));
    border-radius: 10px;
    overflow: hidden;
    text-decoration: none;
   
  }
  .form-label {
    display: inline-block;
    font-size: 0.8rem;
    margin-bottom: 6px;
    color:black;
   
  }
  .span-login{
      margin-bottom: 10px;
      margin-left: 30%;
      
  }
  .span-login a {
    text-decoration: none;
    color:red;
    font-weight: 600;
  }
  .a{
    color:black;
    margin-left: 34rem;
  }
