.event-container-Blog {
  margin: 20px;

  justify-content: center;
  display: flex;
}

.event-container-HeavyRain {
  margin-top: 20px;
  justify-content: center;
  display: flex;
}
@media screen and (max-width: 660px) {
  .event-container-Blog {
   width:50%
  }

  .event-container-HeavyRain {
   width:100%
  }
}
