.box{
    margin-left: 0.4rem;
    width: 30rem;
    height: 2rem;
  }
  .box2{
    margin-left: 1.3rem;
    width: 30rem;
    height: 2rem;
  }
  .box3{
    margin-left: 1rem;
    width: 30rem;
    height: 2rem;
  }
  .box4{
    margin-left: 2.1rem;
    width: 30rem;
    height: 2rem;
  }
  .DeathButton{
 margin-left: 9.3rem;
}
